@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
  --ui-radius: var(--radius-none);
}

#app {
  --vis-axis-tick-color: var(--ui-color-neutral-400);
  --vis-axis-tick-label-color: var(--ui-color-neutral-400);
  --vis-axis-grid-color: var(--ui-color-neutral-400);

  --vis-color-grey: var(--ui-color-neutral-400);
}

.dark #app {
  --vis-axis-tick-color: var(--ui-color-neutral-500);
  --vis-axis-tick-label-color: var(--ui-color-neutral-500);
  --vis-axis-grid-color: var(--ui-color-neutral-500);

  --vis-color-grey: var(--ui-color-neutral-500);
}
